body{
  background-color: rgba(0, 0, 0, 0.925);
  color: #fff;
}
#card{
  border: 2px solid rgb(252, 247, 247);
  border-radius:10px;
  padding: 20px;
}
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
h1{
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 2rem;
 
}
#input{
  border: 1px solid rgb(250, 245, 245);
  border-radius: 10px;
  padding: 10px;
}
#btn{
  border: 1px solid rgb(247, 244, 244);
  border-radius: 10px;
  background-color: green;
  color: #fff;
  padding: 15px 10px;
}